<html>
<head><title>Infrastructure Audit</title></head>
<body>
    <h1>Node Name: {{ ansible_hostname }}</h1>
    <p>Deployment Scope: {{ custom_title }}</p>
    <p>Last Managed: {{ ansible_date_time.date }}</p>
    <p>Updated by Bruce Lee</p>
</body>
</html>
